/* Menu Lateral */
#menu_lateral {
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

#menu_lateral .nav-link.active {
    font-weight: bold;
    color: #007bff;
}

#menu_lateral .nav-link {
    color: #333;
}

#menu_lateral .nav-link:hover {
    background-color: #e9ecef;
}

/* Telas de Cadastro */
.cadcontainer {
    max-width: 600px;
    margin: auto;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}